body {
    margin: 0;
}


.main-container {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow:hidden; */
}


.star {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 70px 10px white;
    position: absolute;
  

}