body {
    margin: 0;
}


.main-container {
    height: 100vh;
    background: var(--color-main-container);
    display: flex;
    flex-direction: column;
    /* overflow:hidden; */
}


.main-star-container {
    width: 100%; 
    height: 100%;
    position: relative;
    /* background: black; */
}

.header-container {
    height: 60px;
    background: rgba(125, 125, 125, 0.529);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container {
    width: 480px;
    height: 60px;
    display: flex;
    align-items: center;
    
}

.control-button {
    width: 80px;
    height: 60px;
    background: var(--color-control-button);
    border: none;
    border-right: 1px solid black;
    outline: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.control-button:hover {
    background: var(--colorH-control-button);
}

.icon {
    width: 45px;
    position: absolute;
    
}


.life-container {
    width: 500px;
    height: 50px;
 
    margin-right: 2rem;
    display: flex;
   
}

.progress-bar-container {
    width: 450px;
    height: 50px;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    overflow: hidden;
}

.progress-name {
    font-size: 30px;

    margin-inline: 1rem;
   
    color: var(--color-progress-name);
}

.progress-cell {
    min-width: 15px;
    height: 50px;
    background: var(--color-progress-cell);
    margin-inline: 1px;
    clip-path: polygon(0% 10px, 10px 0%, 100% 0%, 100% 100%, 0% 100% );

}

.star {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 70px 10px white;
    position: absolute;
  
}





/* animations */





