



:root {

    /* colors */
    --color-progress-cell: rgb(139, 139, 139);
    --color-progress-name: cyan;
    --color-control-button: rgba(0, 0, 0, 0.185);
    --color-main-container: black;

    /* hover colors */
    --colorH-control-button: rgba(82, 110, 82, 0.457);
    
}