<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Scope</title>
    <link rel="stylesheet" href="../CSS/base.css">
    <link rel="stylesheet" href="../CSS/variables.css">
    <link rel="stylesheet" href="../CSS/components.css">
    <link rel="stylesheet" href="../CSS/main.css">

    <script type="module" src="../js/main.js" defer></script>
    <script type="module" src="../js/createNodes.js" defer></script>
</head>
<body>

    <div class="main-container">
        <div class="header-container">
            <div class="buttons-container">

               <a class="control-button" tabindex="0" href="./fullView.html"><img src="../assets/icons/cube.png" alt="cube" class="icon"></a>
                <a class="control-button" tabindex="0" href="./nodes.html"><img src="../assets/icons/circle-nodes.png" alt="cube" class="icon"></a>
                <a class="control-button" tabindex="0" href="./zoomLevel.html"><img src="../assets/icons/planet-ringed.png" alt="cube" class="icon"></a>
                <a class="control-button selected" tabindex="0" href="./profile.html"><img src="../assets/icons/user-astronaut.png" alt="cube" class="icon"></a>
                <a class="control-button" tabindex="0" href="./planetsLevels.html"><img src="../assets/icons/galaxy-alt.png" alt="cube" class="icon"></a>
                <a class="control-button" tabindex="0" href="./upgrade.html"><img src="../assets/icons/productivity.png" alt="cube" class="icon"></a>
                <a class="info-button" tabindex="0" href="./info.html"></a>
            </div>
            <div class="life-container">
               <span class="progress-name">XP</span>
               <div class="progress-bar-container">
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell on"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
                <div class="progress-cell"></div>
          
             
             
               
               </div>
            </div>
            
        </div>
        <div class="nodes-container">
            

        </div>
       
    </div>
    <div class="main-star-container"></div>
    
</body>
</html>